# GitLab CI configuration for the "HWH-WebApp"
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://localhost:2375

stages:
  - build
  - test
  - deploy

build-webapp:
  image: openjdk:11-jdk
  stage: build
  before_script:
    - apt update
    - apt install -y --no-install-recommends ant
    - apt install nodejs npm \ Y
    #- corepack enable
#    - npm install --global yarn
  script:
    - node -v
#    - ant ci
#  artifacts:
#    paths:
#      - build/HWH-WebApp-*.xar
