# GitLab CI configuration for the "HWH-WebApp"
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://localhost:2375
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  GIT_SUBMODULE_STRATEGY: recursive
  #CI_JOB_TOKEN: $CI_JOB_TOKEN

stages:
  - build-app
  - build-docker
  - deploy

.install_dependencies:
  image: ubuntu
  before_script:
    - apt update -y
    - apt upgrade -y
    - apt install -y gnupg2 curl
    - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
    - echo "deb https://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list
    - apt update -y
    - apt install -y yarn unzip
    - apt install -y --no-install-recommends ant git sass minify

build-webapp:
  stage: build-app
  extends: .install_dependencies
  script:
    #- ant ci -Dsass.path=`which sass` -Dminify.path=`which minify` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
    - ant xar -Dsass.path=`which sass` -Dminify.path=`which minify` -Dbuild.env=`ci` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
  artifacts:
    paths:
      - webapp/HenDi-WebApp-*.xar
  only:
    refs:
      - merge_requests
      - develop

download-artifacts:
  stage: build-docker
  extends: .install_dependencies
  #needs: [build-webapp]
  script:
    #- 'curl --location --output hendi-webapp.zip --header "JOB-TOKEN: $CI_JOB_TOKEN" "https://git.uni-paderborn.de/api/v4/projects/5005/jobs/artifacts/develop/download?job=build-webapp"'
    #- unzip hendi-webapp.zip
    - curl --location --output hendi-webapp.zip "https://git.uni-paderborn.de/api/v4/projects/5005/jobs/artifacts/develop/download?job=build-webapp&job_token=$CI_JOB_TOKEN"
    - unzip hendi-webapp.zip

build-docker-image:
  variables:
    ACCESS_HENDI_DATA: $ACCESS_HENDI_DATA
    ACCESS_HENDI_WEBAPP: $ACCESS_HENDI_WEBAPP
  stage: build-docker
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  needs: [download-artifacts]
  dependencies:
    - download-artifacts
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    #- docker build --network host --build-arg ACCESS_HENDI_DATA=$ACCESS_HENDI_DATA --build-arg ACCESS_HENDI_WEBAPP=$ACCESS_HENDI_WEBAPP -t $IMAGE_TAG .
    - docker build --network host -t $IMAGE_TAG .
    #- docker push $IMAGE_TAG
  only:
    - develop

#deploy:
#  stage: deploy
#  image: curlimages/curl
#  needs: [build-docker-image]
#  when: manual
#  script:
#    - >
#      curl -X POST https://keel3.edirom.de/v1/webhooks/native -H 'Content-Type: application/json' -d '{"name": "registry.git.uni-paderborn.de/vife/henze-digital/hwh-webapp", "tag": "$CI_COMMIT_REF_SLUG"}'
#  only:
#    - develop
