# GitLab CI configuration for the "HWH-WebApp"
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://localhost:2375

stages:
  - build
  - test
  - deploy

build-webapp:
  image: openjdk:11-jdk #node:latest
  stage: build
  before_script:
    - apt update
    - apt install -y --no-install-recommends ant
    #- apt install nodejs npm
    - apt-get update
    - apt install nodejs -y
  script:
    - ant test

test_node:
  stage: test
  script:
    - node -v

test_npm:
  stage: test
  script:
    - npm -v

#  script:
#    - ant ci
#  artifacts:
#    paths:
#      - build/HWH-WebApp-*.xar
