# GitLab CI configuration for the "HWH-WebApp"
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://localhost:2375

stages:
  - build
  - test
  - deploy

build-webapp:
  image: ubuntu
  stage: build
  before_script:
    - apt update
    - apt install -y --no-install-recommends ant
    - apt install nodejs -y -8 -7
    - apt install npm -y
    - apt-get update
    - apt-get upgrade
    - npm install --global yarn
    #- corepack enable
    #- yarn init -2
    #- yarn set version stable
    - yarn install
    - npm install -g sass
  script:
    - ant ci -Dsass.path=`which sass`
  artifacts:
    paths:
      - build/HWH-WebApp-*.xar
