# GitLab CI configuration for the "HenDi-WebApp"
variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    IMAGE_TAG_BASE: $CI_REGISTRY_IMAGE/hendi-webapp-base-image:$CI_COMMIT_REF_SLUG

stages:
  - build
  - deploy
    
build-base-image:
  stage: build
  image: docker:20.10
  services:
    - docker:20.10-dind
  rules:
    - if: '$cronBuildBaseImage == "true"'
      changes:
        - Dockerfile
      when: always
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker run --privileged --rm tonistiigi/binfmt --install all
    - docker buildx create --name mybuilder --use
    - docker buildx build --build-arg CI_JOB_TOKEN=${CI_JOB_TOKEN} --platform linux/arm64,linux/amd64 --push -t ${IMAGE_TAG_BASE} -f Dockerfile.baseImage .

build-webapp:
  stage: build
  image: $IMAGE_TAG_BASE
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  rules:
    - if: '$cronBuildBaseImage == "true"'
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    - if: $CI_COMMIT_BRANCH == "develop"
      when: always
  script:
    - ant xar -Dsass.path=`which sass` -Dminify.path=`which minify` -Dbuild.env=`ci` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
  artifacts:
    paths:
      - hendi-pkg-webapp/HenDi-WebApp-*.xar

build-webapp-docker-image:
  stage: build
  image: docker:20.10
  services:
    - docker:20.10-dind
  needs: [build-webapp]
  dependencies:
    - build-webapp
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker run --privileged --rm tonistiigi/binfmt --install all
    - docker buildx create --name mybuilder --use
    - docker buildx build --build-arg CI_JOB_TOKEN=${CI_JOB_TOKEN} --platform linux/arm64,linux/amd64 --push -t ${IMAGE_TAG} .

deploy-webapp:
  stage: deploy
  image: curlimages/curl
  needs: [build-webapp-docker-image]
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop" && $CI_COMMIT_MESSAGE  =~ /\(ready\)/'
      when: always
    - if: '$cronUpdatePortalIntern == "true"'
      when: always
  script:
    - >
      curl -X POST https://keel3.edirom.de/v1/webhooks/native -H 'Content-Type: application/json' -d '{"name": "'${CI_REGISTRY_IMAGE}'", "tag": "'${CI_COMMIT_REF_SLUG}'"}'
