# GitLab CI configuration for the "HWH-WebApp"
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://localhost:2375

stages:
  - build
  - test
  - build-image

build-webapp:
  image: ubuntu
  stage: build
  before_script:
    - apt-get update
    - apt-get upgrade -y
    - apt install -y --no-install-recommends ant
    - apt install nodejs -y
    - apt install npm -y
    - npm install --global yarn
    - yarn install
    - npm install -g sass
    - apt-get install git -y
    - apt-get install -y minify
  script:
    - ant ci -Dsass.path=`which sass` -Dminify.path=`which minify` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
  artifacts:
    paths:
      - app/HenDi-WebApp-*.xar

merge request artifact:
  image: ubuntu
  stage: build
  before_script:
    - apt-get update
    - apt-get upgrade -y
    - apt install -y --no-install-recommends ant
    - apt install nodejs -y
    - apt install npm -y
    - npm install --global yarn
    - yarn install
    - npm install -g sass
    - apt-get install git -y
    - apt-get install -y minify
  script:
    - ant ci -Dsass.path=`which sass` -Dminify.path=`which minify` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
  artifacts:
    paths:
      - app/HenDi-WebApp-*.xar
  only:
    - merge_requests
  #rules:
  #  - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

build-docker:
   stage: build-image
   image: docker:stable
   needs: [build-webapp]
   script:
     - docker build -t hendi-webapp .
   dependencies:
     - build-webapp