[submodule "HenDi-ODD"]
	path = HenDi-ODD
	url = ../HenDi-ODD.git
	ignore = dirty
[submodule "WeGA-WebApp"]
	path = WeGA-WebApp
	url = https://github.com/Henze-Digital/WeGA-WebApp.git
	ignore = dirty
