# GitLab CI configuration for the "HenDi-WebApp"
variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    IMAGE_TAG_BASE: registry.git.uni-paderborn.de/vife/henze-digital/hendi-ci-docker-image:v1-1-0
    GIT_SUBMODULE_STRATEGY: recursive
    URL_CI_REGISTRY: "registry.git.uni-paderborn.de/vife/henze-digital/hwh-webapp"
    HENDI_WEBAPP_CI_REGISTRY_USER: $HENDI_WEBAPP_CI_REGISTRY_USER #$CI_REGISTRY_USER
    HENDI_WEBAPP_CI_REGISTRY_PASSWORD: $HENDI_WEBAPP_CI_REGISTRY_PASSWORD #$CI_REGISTRY_PASSWORD
    HENDI_WEBAPP_CI_REGISTRY: "registry.git.uni-paderborn.de/vife/henze-digital/hwh-webapp" #$CI_REGISTRY

stages:
  - update
  - build
  - deploy

update-submodules:
  stage: update
  image: $IMAGE_TAG_BASE
  script:
    - git config user.email "${GITLAB_USER_EMAIL}"
    - git config user.name "${GITLAB_USER_NAME}"
    - git config pull.rebase true
    - git remote set-url origin https://${HENDI_DATA_CI_TOKEN_NAME}:${HENDI_DATA_CI_TOKEN}@git.uni-paderborn.de/vife/henze-digital/hwh-webapp.git
    - git pull origin ${CI_COMMIT_REF_NAME} #--allow-unrelated-histories
    - cd submodules/HenDi-ODD
    - git checkout develop
    - git pull
    - cd ../../
    - |- 
      if [[ -z $(git status -s) ]];
      then
        echo "No changes detected. Nothing to commit."
      else
        git add submodules/HenDi-ODD
        git commit -m "auto update submodule"
        git push origin HEAD:${CI_COMMIT_REF_NAME} -o ci.skip
      fi
  only:
    variables:
      - $TRIGGER_UPDATE_SUBMODULE == "true"

build-webapp:
  stage: build
  image: $IMAGE_TAG_BASE
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - yarn
    - ant xar -Dbuild.env.ci=true -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" && ($BUILD_PORTAL_INTERN == "true" || $BUILD_PORTAL_STAGING == "true"  || $BUILD_PORTAL_PREVIEW == "true")
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  artifacts:
    paths:
      - hendi-pkg-webapp/HenDi-WebApp-*.xar

build-webapp-stable:
  stage: build
  image: $IMAGE_TAG_BASE
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - ant xar-stable -Dsass.path=`which sass` -Dminify.path=`which minify` -Dbuild.env=`ci` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
  rules:
    - if: $CI_COMMIT_BRANCH == "stable" && $BUILD_PORTAL_STABLE == "true"
  artifacts:
    paths:
      - hendi-pkg-webapp-stable/HenDi-WebApp-*.xar

build-webapp-docker-image:
  stage: build
  image: docker:20.10
  services:
    - docker:20.10-dind
  needs: [build-webapp]
  dependencies:
    - build-webapp
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker run --privileged --rm tonistiigi/binfmt --install all
    - docker buildx create --name hendiBuilder --use
    - docker buildx build --no-cache --build-arg CI_JOB_TOKEN=${CI_JOB_TOKEN}  --platform linux/arm64,linux/amd64 --push -t ${IMAGE_TAG} .
    
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" && $BUILD_PORTAL_INTERN == "true"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

build-webapp-docker-image-staging:
  stage: build
  image: docker:20.10
  services:
    - docker:20.10-dind
  needs: [build-webapp]
  dependencies:
    - build-webapp
  script:
    - docker buildx create --driver=docker-container --name=buildkit-builder --use
    - docker login -u ${HENDI_WEBAPP_CI_REGISTRY_USER} -p ${HENDI_WEBAPP_CI_REGISTRY_PASSWORD} $CI_REGISTRY
    - docker buildx build --build-arg CI_JOB_TOKEN=${CI_JOB_TOKEN} --platform linux/arm64,linux/amd64 --push -t ${IMAGE_TAG}-staging -f Dockerfile.staging .
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" && $BUILD_PORTAL_STAGING == "true"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      
build-webapp-docker-image-stable:
  stage: build
  image: docker:20.10
  services:
    - docker:20.10-dind
  needs: [build-webapp-stable]
  dependencies:
    - build-webapp-stable
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker run --privileged --rm tonistiigi/binfmt --install all
    - docker buildx create --name mybuilder --use
    - docker buildx build --build-arg CI_JOB_TOKEN=${CI_JOB_TOKEN} --platform linux/arm64,linux/amd64 --push -t ${IMAGE_TAG} -f Dockerfile.stable .
  rules:
    - if: $CI_COMMIT_BRANCH == "stable" && $BUILD_PORTAL_STABLE == "true"

build-webapp-docker-image-preview:
  stage: build
  image: docker:20.10
  services:
    - docker:20.10-dind
  needs: [build-webapp]
  dependencies:
    - build-webapp
  script:
    - docker buildx create --driver=docker-container --name=buildkit-builder --use
    - docker login -u ${HENDI_WEBAPP_CI_REGISTRY_USER} -p ${HENDI_WEBAPP_CI_REGISTRY_PASSWORD} $CI_REGISTRY
    - docker buildx build --build-arg CI_JOB_TOKEN=${CI_JOB_TOKEN} --platform linux/arm64,linux/amd64 --push -t ${IMAGE_TAG}-preview -f Dockerfile.preview .
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" && $BUILD_PORTAL_PREVIEW == "true"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never

deploy-webapp:
  stage: deploy
  image: curlimages/curl
  needs: [build-webapp-docker-image]
  script:
    - >
      curl -X POST https://keel3.edirom.de/v1/webhooks/native -H 'Content-Type: application/json' -d '{"name": "'${CI_REGISTRY_IMAGE}'", "tag": "'${CI_COMMIT_REF_SLUG}'"}'
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" && $BUILD_PORTAL_INTERN == "true"

deploy-webapp-staging:
  stage: deploy
  image: curlimages/curl
  needs: [build-webapp-docker-image-staging]
  script:
    - >
      curl -X POST https://keel3.edirom.de/v1/webhooks/native -H 'Content-Type: application/json' -d '{"name": "'${CI_REGISTRY_IMAGE}'", "tag": "'${CI_COMMIT_REF_SLUG}-staging'"}'
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" && $BUILD_PORTAL_STAGING == "true"

deploy-webapp-stable:
  stage: deploy
  image: curlimages/curl
  needs: [build-webapp-docker-image-stable]
  script:
    - >
      curl -X POST https://keel3.edirom.de/v1/webhooks/native -H 'Content-Type: application/json' -d '{"name": "'${CI_REGISTRY_IMAGE}'", "tag": "'${CI_COMMIT_REF_SLUG}'"}'
  only:
    refs:
      - stable
    variables:
      - ($CI_COMMIT_MESSAGE  =~ /deploy\:/ || $BUILD_PORTAL_STABLE == "true")
  except:
    variables:
      - ($BUILD_PORTAL_INTERN == "true" || $BUILD_PORTAL_STAGING == "true")
deploy-webapp-preview:
  stage: deploy
  image: curlimages/curl
  needs: [build-webapp-docker-image-preview]
  script:
    - >
      curl -X POST https://keel3.edirom.de/v1/webhooks/native -H 'Content-Type: application/json' -d '{"name": "'${CI_REGISTRY_IMAGE}'", "tag": "'${CI_COMMIT_REF_SLUG}-preview'"}'
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" && $BUILD_PORTAL_PREVIEW == "true"
