[submodule "submodules/WeGA-WebApp"]
	path = submodules/WeGA-WebApp
	url = https://github.com/Henze-Digital/WeGA-WebApp.git
	shallow = true
[submodule "submodules/HenDi-ODD"]
	path = submodules/HenDi-ODD
	url = ../HenDi-ODD.git
	shallow = true
