# GitLab CI configuration for the "HWH-WebApp"
variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://localhost:2375
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

stages:
  - build-app
  - test
  - build-docker
  - deploy

.install_dependencies:
  image: ubuntu
  before_script:
    - apt update -y
    - apt upgrade -y
    - apt install -y gnupg2 curl
    - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
    - echo "deb https://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list
    - apt update -y
    - apt install -y yarn
    - apt install -y --no-install-recommends ant git sass minify

build-webapp:
  stage: build-app
  extends: .install_dependencies
  script:
    #- ant ci -Dsass.path=`which sass` -Dminify.path=`which minify` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
    - ant ci:build-wega-xar -Dsass.path=`which sass` -Dminify.path=`which minify` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
#  artifacts:
#    paths:
#      - webapp/HenDi-WebApp-*.xar

merge request artifact:
  stage: build-app
  extends: .install_dependencies
  script:
    - ant ci -Dsass.path=`which sass` -Dminify.path=`which minify` -DCI_JOB_TOKEN=${CI_JOB_TOKEN}
  artifacts:
    paths:
      - webapp/HenDi-WebApp-*.xar
  only:
    - merge_requests
  #rules:
  #  - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

# build-docker:
#    stage: build-docker
#    image: docker:19.03.1
#    services:
#      - docker:19.03.1-dind
#    needs: [build-webapp]
#    script:
#      - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
#      - docker build --network host -t $IMAGE_TAG .
#      - docker push $IMAGE_TAG
#    dependencies:
#      - build-webapp
#
# deploy:
#   stage: deploy
#   image: curlimages/curl
#   script:
#     - >
#       curl -X POST https://keel3.edirom.de/v1/webhooks/native -H 'Content-Type: application/json' -d '{"name": "registry.git.uni-paderborn.de/vife/henze-digital/hwh-webapp", "tag": "$CI_COMMIT_REF_SLUG"}'
