# This CITATION.cff file was generated with cffinit.
# Visit https://bit.ly/cffinit to generate yours today!

cff-version: 1.2.0
title: @project.app@
message: "Please cite this software using the metadata from 'preferred-citation'."
type: software
authors:
  - given-names: Dennis
    family-names: Ried
    email: dennis.ried@uni-paderborn.de
    affiliation: Paderborn University
    orcid: 'https://orcid.org/0000-0001-5545-2088'
url: 'https://henze-digital.zenmem.de'
preferred-citation:
  authors:
    - family-names: Ried
      given-names: Dennis
  title: "@project.app@ v@project.version@"
  type: software
  year: @release.year@
abstract: >-
  This is the source code of the adaption of the WeGA-WebApp by the project Henze-Digital.
keywords:
  - software
  - musicology
identifiers:
  - type: doi
    value: @release.doi.webapp@
repository-code: 'https://github.com/Henze-Digital/HenDi-WebApp'
repository: 'https://git.uni-paderborn.de/vife/henze-digital/hwh-webapp'
license: CC-BY-4.0
version: @project.version@
date-released: @release.date@
