// Startseite

.hendi
{
    background: url(../img/teaser_henze_digital.jpg) no-repeat;
}

.henze
{
    background: url(../img/teaser_hans_werner_henze.jpg) no-repeat;
}

.unterschrifthenze img
{
    position: absolute;
    display: inline;
    text-align: right;
    margin-right: 20px;
    margin-left:15px;
}

.unterschrifthenze
{
    margin-bottom:60px;
}
