// Navigation

.navbar-brand {
    margin-right: 0!important;
}

.brand
{
    width: 14em;
    margin-bottom: 0px;
    vertical-align: text-bottom;
}

.navbar-light
{
    margin-top: 20px;
    margin-bottom: 0px;
}

#navbarCollapse .navbar-nav {
    margin-bottom: -5px;
    margin-top: 29px;
    li > a:after {
        border-top: 5px solid transparent;
        content: "";
        display: block;
        height: 0;
        left: 0;
        width: 100%;
    }
    li.active > a:after {
        border-top: 5px solid $primary;
        content: "";
        display: block;
        height: 0;
        left: 0;
        width: 100%;
    }
    li a {
            font-size: $font-size-lg;
            line-height: 63px;
            padding-top: 4px;
    }
    ul.dropdown-menu {
        top: 94%;
        margin:0px;
        padding: 0px;
        border: none;
        li {
            background-color: $gray-lighter;            
            border: none;
            border-left: 4px solid $gray-lighter;
            box-shadow: 0 2px 2px 0 $gray;
            &:hover { border-left: 4px solid $primary; }            
            a {
                color: rgba(0, 0, 0, 0.6)!important;
                font-size: smaller!important;
                font-size: 16px;
                padding: 5px 20px;
                line-height: 35px;
                background-color: #fff;
                &:hover {
                    color: rgba(0, 0, 0, 0.8);
                    background-color: $gray-lighter;
                    }
                &:after { border:none; }
            }
            a.dropdown-secondlevel-nav:after {
				border:none;
                content: '\F138';
    			display:inline;            
            }
	    	ul.submenu {
				position: absolute;
				left:100%;
				top:0px;
			}
        }
    }
}

.navbar {
    padding-bottom: 0;
    margin-left: -15px; // pull left because we do not have a wrapping row
    .nav-link {
        padding-bottom: 0;
    }
}

.divider
{
    margin: 23px;
    background-color: $gray-light;
    height:24px;
    width: 1px;
}

.divider-top-landing {
    border-top: 10px solid $primary;
}

.header {
    background: url(../img/header.png) no-repeat center top;
    border-bottom: 10px solid $primary;
    color:$gray-dark;
}

#content {
    border-top: 4px solid $gray-lightest;
}

/* hover open for larger screens */
@include media-breakpoint-up(md) {
    .nav-item.dropdown:hover>.dropdown-menu {
      display: block;
    }
}

/* 						 */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
/* ============ small devices .end// ============ */