<div xmlns="http://www.w3.org/1999/xhtml" class="modal fade" id="introductionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" data-template="app-shared:if-not-matches" data-template-key="lang" data-template-value="de">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel">Introductory texts</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<h4>
					<a href="/en/A001058B/Kommentare/A090070B.html"><button type="button" class="btn btn-outline-info">Correspondence</button></a>
				</h4>
				<p>Preface to the correspondence of Hans Werner Henze and Hans Magnus Enzensberger.</p>
				<hr/>
				<h4>
					<a href="/en/A001058B/Kommentare/A0900668.html"><button type="button" class="btn btn-outline-info">HenDi-WebApp</button></a>
				</h4>
				<p>Notes on the use and status of the online portal.</p>
			</div>
		</div>
		<div class="modal-content" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel">Einleitende Texte</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<h4>
					<a href="/de/A001058B/Kommentare/A090070B.html"><button type="button" class="btn btn-outline-info">Korrespondenz</button></a>
				</h4>
				<p>Vorwort zur Korrespondenz von Hans Werner Henze und Hans Magnus Enzensberger.</p>
				<hr/>
				<h4>
					<a href="/de/A001058B/Kommentare/A0900668.html"><button type="button" class="btn btn-outline-info">HenDi-WebApp</button></a>
				</h4>
				<p>Hinweise zur Benutzung und zum Stand des Online-Portals.</p>
			</div>
		</div>
	</div>
</div>