<div xmlns="http://www.w3.org/1999/xhtml" class="modal fade" id="introductionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" data-template="app-shared:if-not-matches" data-template-key="lang" data-template-value="de">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel">Introductory texts</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
			</div>
			<div class="modal-body">
				<h4><a href="/de/A001058B/Kommentare/A090070B.html">Introduction to the content of the correspondence</a></h4>
				<h4><a href="/de/A001058B/Kommentare/A0900668.html">Notes on the use of the portal</a></h4>
			</div>
			<div class="modal-content" data-template="app-shared:if-matches" data-template-key="lang" data-template-value="de">
				<div class="modal-header">
					<h3 class="modal-title" id="myModalLabel">Einleitende Texte</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
				</div>
				<div class="modal-body">
					<h4><a href="/de/A001058B/Kommentare/A090070B.html">Inhaltliche Einführung zur Korrespondenz</a></h4>
					<h4><a href="/de/A001058B/Kommentare/A0900668.html">Hinweise zur Benutzung des Portals</a></h4>
				</div>
			</div>
		</div>
	</div>
</div>
