<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="borderBottom">
        <div class="container footer">
            <div class="row">
                <div class="col-md-4 col-6 align-self-center">
                    <a href="http://www.uni-paderborn.de/">
                        <img class="img-fluid rounded mx-auto d-block" src="$resources/img/logo_zenmem_farbe.png" alt="Logo des Zentrum Musik Edition Medien (ZenMEM) der Universität Paderborn"/>
                    </a>
                </div>
                <div class="col-md-4 col-6 align-self-center">
                    <a href="http://www.uni-paderborn.de/">
                        <img class="img-fluid rounded mx-auto d-block" src="$resources/img/logo_uni_paderborn_farbe.png" alt="Logo der Universität Paderborn"/>
                    </a>
                </div>
                <div class="col-md-4 col-6 align-self-center">
                    <a href="http://www.hfm-detmold.de/">
                        <img class="img-fluid rounded mx-auto d-block" src="$resources/img/logo_hfm_detmold_farbe.png" alt="Logo der Hochschule für Musik Detmold"/>
                    </a>
                </div>
                <div class="clearfix d-none d-xs-block d-sm-none"><!-- break and clearfix for extra small devices (phones) --></div>
                <div class="col-md-4 col-6 align-self-center">
                    <a href="https://www.dfg.de/index.jsp">
                        <img class="img-fluid rounded mx-auto d-block" src="$resources/img/logo_dfg_farbe.png" alt="Deutsche Forschungsgemeinschaft"/>
                    </a>
                </div>
                <div class="col-md-4 col-6 align-self-center">
                    <a href="http://exist-db.org/">
                        <img class="img-fluid rounded mx-auto d-block" src="$resources/img/logo_existdb_farbe.png" alt="eXist-db logo"/>
                    </a>
                </div>
                <div class="col-md-4 col-6 align-self-center">
                    <a href="https://tei-c.org/">
                        <img class="img-fluid rounded mx-auto d-block" src="$resources/img/logo_tei_farbe.png" alt="Text Encoding Initiative logo"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="colored footerbottom">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <ul class="footerNav">
                        <li>
                            <a href="$link/project/contact.html" data-template="lang:translate">contact</a>
                        </li>
                        <li>
                            <a href="$link/project/about.html" data-template="lang:translate">about</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC-BY International 4.0</a>
                        </li>
                        <li data-template="app:zenodoDOIs"/>
                        <li>
                            GitHub: <a target="_blank" href="https://github.com/Henze-Digital/HenDi-ODD">TEI-ODD</a> | <a target="_blank" href="https://github.com/Henze-Digital/HenDi-WebApp">WebApp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>