<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Datensätze zum Anreichern</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container documentText paddingTopIcon paddingBottomIcon">
        <div class="row">
            <div class="col-md-3 order-2 side-col"/>
            <div class="col-md-9 main-col" data-template="app:enrichtment-datasets"/>
        </div>
    </div>
</div>