<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Editionsrichtlinien von Henze-Digital</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container documentText paddingTopIcon paddingBottomIcon">
        <div class="row">
            <div class="col-md-3 order-2 side-col"/>
            <div class="col-md-9 main-col">
                <h1>Text und Spezifikationen</h1>
                <ul style="list-style: square;">
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhBiblio.html">Biblio</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhDocuments.html">Documents</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhLetters.html">Letters</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhNews.html">News</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhOrgs.html">Orgs</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhPersons.html">Persons</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhPlaces.html">Places</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhReviews.html">Reviews</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhThematicCommentaries.html">ThematicCommentaries</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhVar.html">Var</a></li>
                    <li>WorksAV</li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhWorksMEI.html">WorksMEI</a></li>
                    <li><a target="_blank" href="/guidelines/guidelines-de-hwhWorksTEI.html">WorksTEI</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>