$tei_list-indent: $font-size-base;

.musical-symbols {
	font-family: musical-symbols;
	vertical-align:middle;
}

.mufi-symbols {
	font-family: mufi-symbols;
}

.tei_hi_underline1 {
/*    border-bottom: 1px solid black;*/
    /* /background-image: url(../img/underline1.gif);
    background-position: center bottom;
    background-repeat: repeat-x; */
    text-decoration-line: underline;
    text-decoration-skip: none;
    text-underline-offset: 1px;
    text-decoration-style: solid;
}

.tei_hi_underline2andMore {
    /*background-image: url(../img/underline2.gif);
    background-position: center bottom;
    background-repeat: repeat-x;*/
/*    border-bottom: 2px solid black;*/
text-decoration-line: underline;
    text-decoration-skip: none;
    text-underline-offset: 1px;
    text-decoration-style: double;
}

.tei_hi_latintype, .tei_hi_italic, .tei_hi_antiqua {
    font-style: italic;
}

.tei_hi_bold, .tei_mentioned {
    font-weight: bold;
}

.tei_hi_spaced_out {
    letter-spacing: 0.15em;
}

.tei_hi_superscript {
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0.7em;
}

.endnote_backlink {
    padding-right:0.5em;
    @extend .tei_hi_superscript;
}

.tei_hi_subscript {
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0.7em;
}

.tei_hi_small-caps {
    font-variant: small-caps;
}

.tei_hi_smaller {
    font-size: smaller;
}

.tei_hi_backgroundGray {
	background-color: #E0E0E0;
}

.tei_hi_borderBloc {
    border: 2px dotted gray;
    /*width: fit-content;
    margin: 0 auto;*/
}

/* Used in wikipedia transformations */
.tei_hi_typewriter {
    font-family: monospace;
    font-size: 1.2em;
}

.tei_del, .tei_del_overwritten, .tei_del_strikethrough {
    text-decoration:line-through;
}

.tei_del_overtyped {
  background: rgba(255, 255, 255, 0.35);
  display: inline-grid;
  justify-items: start;
  align-items: start;
}

.tei_del_overtyped > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.tei_del_erased {
	color: lightgrey;
}

.tei_cb {
    cursor: help;
}

.tei_cb_block {
    @extend .tei_cb;
    float:left;
    display:block;
    margin-right: .5em;
}

hr.tei_pb-text {
  position: relative;
    border: none;
    height: 10px;
    background: #bbb;
    border-radius: 5px;
    margin-top: 1.75em;
    margin-bottom: 2.2em;
}

hr.tei_pb-text:before {
    content: '↓ ' attr(data-content) ' ↓';
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tei_quote_bloc {
	font-size: medium;
	text-align: justify;
	line-height: 1.5;
}

.tei_choice, .tei_subst {
	display: inline;
}

/*  for development … */
.tei_cssUndefined {
    border: 1px solid red;
    color: red;
    display:block;
}


.cert_medium:after, .cert_low:after, .cert_unknown:after{
    content:" ?"; /* ACHTUNG: hier &thinsp; ist aber im Editor nicht zu erkennen */
}

div.poem {
   margin: 0.5pc 0em 0.5pc 10%; 
}

div.poem h2 {
    text-align: center;
/*    margin-left: -30%;*/
    font-size: 1.2em;
}

div.poem h3 {
    text-align: left;
    font-size: 1em;
}

.lg {
    margin: 0.5pc auto;
    width: 90%;
    display: block;
}

.verseLine {
    display: block;
}

.tei_code {
    font-family: monospace;
}

/*.eg {
    display: block;
    font-family: monospace;
    width: 90%;
    margin: auto;
    text-align: left;
    white-space:pre-wrap;
}
*/
li.listTitle {
    @extend .heading3;
    font-size: $h3-font-size;
    list-style:none;
    margin-bottom:0px;
}

li.listSubTitle {
    @extend .heading4;
    font-size: $h4-font-size;
    list-style:none;
}

.tei_simpleList, .tei_list {
    list-style: none;
    margin-left: $tei_list-indent;
    li.listTitle, li.listSubTitle {
        margin-left: -$tei_list-indent;
    }
}

.tei_orderedList {
    list-style: none;
    margin-left: $tei_list-indent;
    counter-reset: ol-items;
    li::before {
        counter-increment: ol-items 1;
        content: counter(ol-items) ". ";
    }
    li.listTitle::before {
        content: " ";
        counter-increment: ol-items 0;
    }
}

.tei_unorderedList {
    list-style: none;
    margin-left: $tei_list-indent;
    li::before {
        content: "• ";
    }
    li.listTitle::before {
        content: " ";
    }
}

/* 
    <signed> und <seg> werden als 'block' gesetzt, 
    damit die Textausrichtung (s.u.) modifiziert werden kann 
*/
.tei_segBlock, .tei_signed {
    display: block;
}

.textAlign-right {
    text-align: right;
}

.textAlign-center {
    text-align: center;
}

.textAlign-left {
    text-align: left;
}

.biblio-entry {
    .title, .journalTitle, .collectionTitle {
        font-style:italic;
    }
}

/* some css for diaries */
.hiddenText {
    color: #ffffff;
}

.tableLeft {
    float: left;
    width: 79%;
}

.tableRight {
    float: left;
    width: 21%;
}

.gr, .pf, .xr {
    margin-left: 3em;
    margin-right: -2em;
}

.rh, .f, .fd {
    margin-right: -2em;
}

.tableLeft .tei_pb, .tableRight .tei_pb {
    display: block;
    font-style: italic;
/*    font-family: Helvetica, Verdana, Tahoma, Geneva, Arial, sans-serif;*/
    border-bottom: 1px solid $gray-light;
    color: $gray-light;
    font-size: 0.8em;
    line-height: 1.6em;
    margin-top: 0.5em;
}

.suppliedCurrencySymbol {
    color: $gray-light;
}

.teiLetter_address {
    margin-bottom:$line-height-computed;
    p { margin-bottom: 0px; }
}

.tei_address {
    line-height: 1.4;
}

.teiLetter_opener {
    display: inline;
    margin-bottom: 0px;
}

/*
 * add extra margin between writingSessions
 */
.writingSession ~ .writingSession {
    margin-top: 3 * $line-height-computed;
}
#endNotes li {
    margin-bottom: 2ex;
}

/* treatment of inline closers */
.inlineEnd, .inlineStart {
    display: inline;
}

/* square brackets should always be recte, never slanted */
.brackets_supplied {
    font-style:normal;
}

.tei_dateline {
    display:block;
}

.tei_fw {
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-right: -0.5em;
    margin-left: -0.5em;
    font-family: Arial Hebrew;
}

.tei_fw_smaller {
    font-size: 80%;
}

.tei_indent-space 
{
	display: inline-block;
	content:"&#160;";
	width: 2em;
}

.tei_event_h1 {
    font-weight: normal;
    font-size: larger;
    font-variant: small-caps;
}

.tei_event_h2 {
    font-weight: normal;
    font-variant: small-caps;
}

.tei_castGrp_h1 {
    font-weight: normal;
    font-variant: small-caps;
    margin-top: 20px;
}

.tei_castGrp_h2 {
    font-weight: normal;
    font-variant: small-caps;
}

.tei_type_strip {
    -webkit-box-shadow: 6px 4px 5px -2px rgba(0,0,0,0.56); 
    box-shadow: 6px 4px 5px -2px rgba(0,0,0,0.56);
    background: #fffff0;
    width: fit-content;
}

.tei_num_center{
    display: flex;
  flex-direction: column;
  text-align: center;
}

.tei_num_right{
    display: flex;
  flex-direction: column;
  text-align: right;
}

.tei_stamp {
	display: inline-block;
	transform: rotate(-2deg);
	color: #555;
	font-size: 80%;
	width: 30%;
	font-weight: 700;
	font-family: 'Courier';
}

.stamp_type_oneline {
	border-radius: 1rem;
	border: 0.25rem solid #555;
	padding: 0.25rem 1rem;
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
	-webkit-mask-size: 944px 604px;
	mix-blend-mode: multiply;
}

.stamp_type_round {
	/* To be done! */
	border: 2px dashed #000;
	border-radius: 50%;
	padding: 20px;
	width: 50%;
	height: 50%;
	text-align: center;
	background-color: #EAEAEA;
}

.stamp_type_square {
	border-radius: 0;
	-webkit-mask-position: 13rem 6rem;
	border: 0.25rem solid #555;
	padding: 0.25rem 1rem;
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
	-webkit-mask-size: 944px 604px;
	mix-blend-mode: multiply;
}

.stamp_type_rollerDate {
  	border-radius: 0;
	-webkit-mask-position: 2rem 3rem;
	border: 0.25rem solid #555;
	padding: 0.25rem 1rem;
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
	-webkit-mask-size: 944px 604px;
	mix-blend-mode: multiply;
}

.stamp_type_stamp {
  	--r: 9px; /* control the radius of the circles */
	padding: calc(2*var(--r));
	filter: grayscale(.4) drop-shadow(0 0 1px #0005) drop-shadow(0 0 1px #0005);
	background: 
    	radial-gradient(var(--r),#0000 98%,#fff) round
      	calc(-1.5*var(--r)) calc(-1.5*var(--r)) /calc(3*var(--r)) calc(3*var(--r)),
    	linear-gradient(#fff 0 0)  no-repeat
      	50%/calc(100% - 3*var(--r)) calc(100% - 3*var(--r));
}