<html xmlns="http://www.w3.org/1999/xhtml" data-template="app-shared:set-attr" data-template-key="lang" data-template-attr="lang">
    <head data-template="lod:metadata" prefix="dc: http://purl.org/dc/elements/1.1/; dcterms: http://purl.org/dc/terms/">
        <meta charset="UTF-8"/>
        <!--<meta http-equiv="CONTENT-LANGUAGE" content="de"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title dzenata-template="app-shared:print" data-template-key="meta-page-title">Hans Werner Henzes künstlerisches Netzwerk</title>
        
        <meta property="dc:title" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="meta-page-title"/>
        <meta property="dc:publisher" content="Henze-Digital"/>
        <meta property="dc:type" content="Text"/>
        <meta property="dc:format" content="text/html"/>
        <meta property="dc:contributor" data-template="lod:each-meta" data-template-key="DC.contributor"/>
        <meta property="dc:creator" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.creator"/>
        <meta property="dc:date" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.date"/>
        <meta property="dc:identifier" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.identifier"/>
        <meta property="dc:description" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.description"/>
        <meta name="description" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.description"/>
        <meta property="dc:subject" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.subject"/>
        <meta property="dc:language" content="de"/>
        <meta property="dc:rights" content="https://creativecommons.org/licenses/by/4.0/" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="DC.rights"/>
<!--        <meta name="google-site-verification" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="google-site-verification"/>-->
<!--        <meta name="msvalidate.01" data-template="app-shared:set-attr" data-template-attr="content" data-template-key="ms-site-verification"/>-->
        <meta name="robots" content="noimageindex"/>
        
        <link rel="alternate" data-template="lod:hreflang"/>
    	<link rel="apple-touch-icon" sizes="57x57" href="$resources/favicons/apple-touch-icon-57x57.png"/>
    	<link rel="apple-touch-icon" sizes="60x60" href="$resources/favicons/apple-touch-icon-60x60.png"/>
    	<link rel="icon" type="image/png" href="$resources/favicons/favicon-32x32.png" sizes="32x32"/>
    	<link rel="icon" type="image/png" href="$resources/favicons/favicon-16x16.png" sizes="16x16"/>
    	<link rel="manifest" href="$resources/favicons/manifest.json"/>
    	<link rel="mask-icon" href="$resources/favicons/safari-pinned-tab.svg" color="#0066cc"/>
        <meta name="msapplication-TileColor" content="#CDE1FF"/>
        <meta name="theme-color" content="#ffffff"/>

        <link rel="stylesheet" type="text/css" href="$resources/lib/Easy-Responsive-Tabs-to-Accordion/css/easy-responsive-tabs.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/jquery.loadmask.css" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/styles.css" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/jquery.loadmask-min.css" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/css/styles-min.css" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/select2/dist/css/select2.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/google-code-prettify/bin/prettify.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/jquery-ui-themes/themes/overcast/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/ion-rangeslider/css/ion.rangeSlider.min.css"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <link rel="stylesheet" type="text/css" href="$resources/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
    	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'/>
        <script type="application/ld+json" data-template="app-shared:output" data-template-key="jsonld-metadata" data-template-wrap="yes"/>
    </head>
    <body>
        <div class="container">
            <!-- including navigator -->
            <div data-template="templates:include" data-template-path="templates/includes/navbar-top.html"/>
        </div>
        
        <div id="content">
            <!-- content gets filled by templating module-->
        </div>
        
        <!-- including footer -->
        <div data-template="templates:include" data-template-path="templates/includes/navbar-footer.html"/>
        
        <!-- The template for popover (aka tooltips) content(!) -->
        <div id="carousel-popover" class="carousel slide d-none" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item item active">
                    <h3 class="item-title">
                        <span class="item-title-content">Loading …</span>
                        <a href="#editorial" class="apparatus-link item-counter">1</a>
                    </h3>
                    <div class="item-content">
                        <div class="progress" style="min-width:244px">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-controls">
                <a class="carousel-control carousel-control-prev left" href="#carousel-popover" data-slide="prev">
                    <span class="fa fa-angle-double-left"/>
                </a>
                <ol class="carousel-indicators">
                    <li data-target="#carousel-popover" data-slide-to="0" class="active"/>
                </ol>
                <a class="carousel-control carousel-control-next right" href="#carousel-popover" data-slide="next">
                    <span class="fa fa-angle-double-right"/>
                </a>
            </div> 
        </div>
        
        <script type="text/javascript" src="$resources/lib/jquery/dist/jquery.min.js"/>
        <script type="text/javascript" src="$resources/lib/fittextjs/index.js"/>
        
        <script type="text/javascript" src="$resources/lib/bootstrap/dist/js/bootstrap.bundle.min.js"/>
        <script type="text/javascript" src="$resources/lib/Easy-Responsive-Tabs-to-Accordion/js/easyResponsiveTabs.js"/>
        <script type="text/javascript" src="$resources/lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"/>
        <script type="text/javascript" src="$resources/js/jquery.loadmask.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/js/jquery.loadmask-min.js" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/bootstrap-remote-data/js/bootstrap-remote-tabs.min.js"/>
        <script type="text/javascript" src="$resources/lib/jquery-ui/ui/widgets/datepicker-min.js"/>
        <script type="text/javascript" src="$resources/lib/jquery-ui/ui/i18n/datepicker-de.js"/>
        <script type="text/javascript" src="$resources/lib/google-code-prettify/bin/prettify.min.js"/>
        <script type="text/javascript" src="$resources/lib/select2/dist/js/select2.min.js"/>
        <script type="text/javascript" src="$resources/lib/moment/min/moment-with-locales.min.js"/>
        <script type="text/javascript" src="$resources/lib/ion-rangeslider/js/ion.rangeSlider.min.js"/>
        <script type="text/javascript" src="$resources/lib/flip/dist/jquery.flip.min.js"/>
        <script type="text/javascript" src="$resources/lib/openseadragon/openseadragon/openseadragon.min.js"/>
        <script type="text/javascript" src="$resources/js/greedynav.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/js/greedynav-min.js" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/jszip/dist/jszip.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/datatables.net/js/jquery.dataTables.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/datatables.net-buttons/js/dataTables.buttons.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/js/init.js" data-template="app-shared:if-matches" data-template-key="environment" data-template-value="development"/>
        <script type="text/javascript" src="$resources/js/init-min.js" data-template="app-shared:if-not-matches" data-template-key="environment" data-template-value="development"/>
        
       	 
        <div data-template="app-shared:if-matches" data-template-key="environment" data-template-value="production" data-template-wrap="false">
        	<script type="text/javascript">
			    window.onload = function () {
			        OpenBootstrapPopup();
			    };
			    function OpenBootstrapPopup() {
			        $("#introductionModal").modal('show');
			    }
			</script>
        </div>
        <div data-template="app-shared:if-matches" data-template-key="environment" data-template-value="production" data-template-wrap="false">
            <!-- Matomo -->
            <script type="text/javascript">
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                  var u="https://matomo.weber-gesamtausgabe.de/";
                  _paq.push(['setTrackerUrl', u+'matomo.php']);
                  _paq.push(['setSiteId', '1']);
                  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                  g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
            <!-- End Matomo Code -->
        </div>
        
    </body>
</html>